<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.commandImages">
      <image
            commandId="org.eclipse.iee.sample.calendar.addCommand"
            icon="icons/datetime.gif">
      </image>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            id="org.eclipse.iee.sample.calendar.addCommand"
            name="Add Calendar">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="org.eclipse.iee.sample.calendar.handlers.AddCalendarHandler"
            commandId="org.eclipse.iee.sample.calendar.addCommand">
      </handler>
   </extension>


	
</plugin>
