<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

	<extension
         point="org.eclipse.ui.commands">
      <command
            id="org.eclipse.iee.pad.fem3d.add"
            name="Insert 3D">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="org.eclipse.iee.pad.fem3d.ui.handler.AddFem3DPadHandler"
            commandId="org.eclipse.iee.pad.fem3d.add">
         <enabledWhen>
            <reference
                  definitionId="onEditorActive">
            </reference>
         </enabledWhen>
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.commandImages">
      <image
            commandId="org.eclipse.iee.pad.fem3d.add"
            icon="icons/3d.png">
      </image>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="toolbar:org.eclipse.iee.editor.addToolbar">
         <command
               commandId="org.eclipse.iee.pad.fem3d.add"
               style="push">
            <visibleWhen
                  checkEnabled="true">
            </visibleWhen>
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.core.expressions.definitions">
      <definition
            id="onEditorActive">
         <with
               variable="activePart">
            <instanceof
                  value="org.eclipse.iee.editor.IPadEditor">
            </instanceof>
         </with>
      </definition>
   </extension>
   
</plugin>
