<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.popupMenus">
      <viewerContribution
            id="org.eclipse.iee.sample.image.contextJava"
            targetID="#CompilationUnitEditorContext">
         <action
               class="org.eclipse.iee.sample.image.actions.AddImagePadActionDelegate"
               id="org.eclipse.iee.sample.image.actions.AddImagePadActionDelegate"
               label="Insert Image" 
               icon="icons/cat.gif" 
               menubarPath="additions"
               tooltip="Insert Image">
         </action>
      </viewerContribution>
	  <viewerContribution
            id="org.eclipse.iee.sample.image.contextSample"
            targetID="#TextEditorContext">
         <action
               class="org.eclipse.iee.sample.image.actions.AddImagePadActionDelegate"
               id="org.eclipse.iee.sample.image.actions.AddImagePadActionDelegate"
               label="Insert Image" 
               icon="icons/cat.gif" 
               menubarPath="additions"
               tooltip="Insert Image">
         </action>
      </viewerContribution>
   </extension>

   
   <extension
    point = "org.eclipse.ui.editorActions">
      <editorContribution 
         id="org.eclipse.iee.sample.image.toolbarJava" 
         targetID="org.eclipse.iee.editor.jdt.editors.ExtendedJavaEditor">        
	   <action id="org.eclipse.iee.sample.image.insertimage" 
              label="Insert Image" 
              toolbarPath="TextEditor" 
              icon="icons/cat.gif" 
              tooltip="Insert Image" 
              class="org.eclipse.iee.sample.image.actions.AddImagePadActionDelegate"
              />
      </editorContribution>
	  <editorContribution 
         id="org.eclipse.iee.sample.image.toolbarSample" 
         targetID="org.eclipse.iee.editor.sample.SampleExtendedEditor">        
	   <action id="org.eclipse.iee.sample.image.insertimage" 
              label="Insert Image" 
              toolbarPath="TextEditor" 
              icon="icons/cat.gif" 
              tooltip="Insert Image" 
              class="org.eclipse.iee.sample.image.actions.AddImagePadActionDelegate"
              />
      </editorContribution>
 	</extension>

</plugin>
