<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            name="IEE Pads Monitoring"
            icon="icons/releng_gears.gif"
            class="org.eclipse.iee.editor.monitoring.perspectives.PadsMonitoringPerspective"
            id="org.eclipse.iee.editor.monitoring.perspectives.PadsMonitoringPerspective">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            category="org.eclipse.iee.editor.monitoring"
            class="org.eclipse.iee.editor.monitoring.views.EditorContainersMonitoringView"
            icon="icons/iee_logo.png"
            id="org.eclipse.iee.editor.monitoring.views.EditorContainersMonitoringView"
            name="Editor&apos;s containers monitoring">
      </view>
      <view
            category="org.eclipse.iee.editor.monitoring"
            class="org.eclipse.iee.editor.monitoring.views.PadsMonitoringView"
            icon="icons/iee_logo.png"
            id="org.eclipse.iee.editor.monitoring.views.PadsMonitoringView"
            name="Pads monitoring"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.pde.ui.pluginContent">
      <wizard
            class="org.eclipse.iee.editor.monitoring.wizards.NewPadWizard"
            icon="icons/iee_logo.png"
            id="org.eclipse.iee.editor.monitoring.wizardNewPad"
            java="true"
            name="New Pad"
            pureOSGi="false"
            rcp="false"
            requiresActivator="false"
            ui-content="true">
      </wizard>
   </extension>
   <extension
         point="org.eclipse.pde.ui.templates">
      <template
            class="org.eclipse.iee.editor.monitoring.templates.PadTemplate"
            contributingId="org.eclipse.iee.editor.monitoring.templatePad"
            icon="icons/iee_logo.png"
            id="org.eclipse.iee.editor.monitoring.templatePad"
            name="Pad Template">
      </template>
   </extension>
   <extension
         point="org.eclipse.ui.newWizards">
      <category
            id="org.eclipse.iee.editor.monitoring.IEEcategory"
            name="Integrated Engineering Environment">
      </category>
   </extension>
   <extension
         point="org.eclipse.ui.startup">
      <startup
            class="org.eclipse.iee.editor.monitoring.perspectives.EarlyStartup">
      </startup>
   </extension>

</plugin>
