<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="org.eclipse.iee.editor.jdt.editors.ExtendedJavaEditor"
            contributorClass="org.eclipse.ui.texteditor.BasicTextEditorActionContributor"
            extensions="java"
            icon="icons/iee_logo.png"
            id="org.eclipse.iee.editor.jdt.editors.ExtendedJavaEditor"
            name="IEE Editor">
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="toolbar:org.eclipse.ui.main.toolbar">
         <toolbar
               id="org.eclipse.iee.editor.addToolbar"
               label="Pads">
            <command
                  commandId="org.eclipse.iee.sample.formula.addCommand"
                  id="org.eclipse.iee.sample.formula.toolbar.addCommand"
                  style="push">
               <visibleWhen checkEnabled="false">
                  	<with variable="activePartId">
 					 <equals value="org.eclipse.iee.editor.jdt.editors.ExtendedJavaEditor" />
					</with>
               </visibleWhen>
            </command>
            <command
                  commandId="org.eclipse.iee.sample.formula.addSymbolicCommand"
                  id="org.eclipse.iee.sample.formula.toolbar.addCommand"
                  style="push">
               <visibleWhen checkEnabled="false">
                  	<with variable="activePartId">
 					 <equals value="org.eclipse.iee.editor.jdt.editors.ExtendedJavaEditor" />
					</with>
               </visibleWhen>
            </command>
            <command
                  commandId="org.eclipse.iee.sample.formula.addInputCommand"
                  id="org.eclipse.iee.sample.formula.toolbar.addCommand"
                  style="push">
               <visibleWhen checkEnabled="false">
                  	<with variable="activePartId">
 					 <equals value="org.eclipse.iee.editor.jdt.editors.ExtendedJavaEditor" />
					</with>
               </visibleWhen>
            </command>
            <command
                  commandId="org.eclipse.iee.sample.text.addCommand"
                  id="org.eclipse.iee.sample.text.toolbar.addCommand"
                  style="push">
                <visibleWhen checkEnabled="false">
                  	<with variable="activePartId">
 					 <equals value="org.eclipse.iee.editor.jdt.editors.ExtendedJavaEditor" />
					</with>
           		</visibleWhen>
            </command>
            <command
                  commandId="org.eclipse.iee.sample.image.addCommand"
                  id="org.eclipse.iee.sample.image.toolbar.addCommand"
                  style="push">
                <visibleWhen checkEnabled="false">
                  	<with variable="activePartId">
 					 <equals value="org.eclipse.iee.editor.jdt.editors.ExtendedJavaEditor" />
					</with>
               </visibleWhen>
            </command>
            <command
                  commandId="org.eclipse.iee.editor.monitoring.pfdExport"
                  id="org.eclipse.iee.editor.monitoring.toolbar.pfdExport"
                  style="push">
            </command>
         </toolbar>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="org.eclipse.iee.editor.jdt.perspectives.IEEPerspective"
            icon="icons/iee_logo.png"
            id="org.eclipse.iee.editor.jdt.perspectives.IEEPerspective"
            name="IEE">
      </perspective>
   </extension>
  

</plugin>
