<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.editors">
      <editor
            name="JavaEditor with Pads"
            extensions="java"
            icon="icons/iee_logo.png"
            contributorClass="org.eclipse.ui.texteditor.BasicTextEditorActionContributor"
            class="org.eclipse.iee.editor.jdt.editors.ExtendedJavaEditor"
            id="org.eclipse.iee.editor.jdt.editors.ExtendedJavaEditor">
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="toolbar:org.eclipse.ui.main.toolbar">
         <toolbar
               id="org.eclipse.iee.editor.addToolbar"
               label="Pads">
            <command
                  commandId="org.eclipse.iee.sample.formula.addCommand"
                  id="org.eclipse.iee.sample.formula.toolbar.addCommand"
                  style="push">
            </command>
         </toolbar>
      </menuContribution>
   </extension>
  

</plugin>
