<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.newWizards">
      <category
            name="IEE Wizards"
            id="org.eclipse.iee.editor.wizard.IEEWizards">
      </category>
      <wizard
            name="General IEE Wizard"
            icon="icons/iee_logo.png"
            category="org.eclipse.iee.editor.wizard.IEEWizards"
            class="org.eclipse.iee.editor.wizard.wizards.GeneralIEEWizard"
            id="org.eclipse.iee.editor.wizard.wizards.GeneralIEEWizard">
      </wizard>
      <wizard
            category="org.eclipse.iee.editor.wizard.IEEWizards"
            class="org.eclipse.iee.editor.wizard.wizards.IEEProjectWizard"
            icon="icons/iee_logo.png"
            id="org.eclipse.iee.editor.wizard.wizards.IEEProjectWizard"
            name="IEE General Project"
            project="true">
      </wizard>
   </extension>

</plugin>
