<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.8"?><target name="4.3" sequenceNumber="27">
<locations>
<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.gef.sdk.feature.group" version="3.9.1.201308190730"/>
<repository location="http://download.eclipse.org/releases/kepler"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.platform.ide" version="4.3.1.M20130911-1000"/>
<unit id="org.eclipse.jdt.feature.group" version="3.9.1.v20130911-1000"/>
<unit id="org.eclipse.pde.feature.group" version="3.9.1.v20130911-1000"/>
<repository location="http://download.eclipse.org/eclipse/updates/4.3/"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="org.slf4j.api" version="1.7.2.v20121108-1250"/>
<unit id="org.apache.commons.io" version="2.0.1.v201105210651"/>
<repository location="http://download.eclipse.org/tools/orbit/downloads/drops/R20130827064939/repository/"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.jetty.bundles.f.feature.group" version="8.1.14.201311072346"/>
<repository location="http://download.eclipse.org/jetty/updates/jetty-bundles-8.x/8.1.14.v20131031"/>
</location>
<location path="${resource_loc:/org.eclipse.iee.p2-repo/target/repository/plugins/}" type="Directory"/>
</locations>
</target>
