<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.editors">
      <editor
            name="IEE Editor"
            icon="icons/iee_logo.png"
            contributorClass="org.eclipse.ui.texteditor.BasicTextEditorActionContributor"
            class="org.eclipse.iee.editor.sample.SampleExtendedEditor"
            id="org.eclipse.iee.editor.sample.SampleExtendedEditor">
      </editor>
   </extension>
   
   <extension point="org.eclipse.ui.commands">
      <command id="org.eclipse.iee.pad.collapaseBegin.addCommand" name="Add collapse begin"/>
   </extension>
   <extension point="org.eclipse.ui.commands">
      <command id="org.eclipse.iee.pad.collapaseEnd.addCommand" name="Add collapse end"/>
   </extension>
   <extension point="org.eclipse.ui.commands">
      <command id="org.eclipse.iee.pad.progress.addCommand" name="Add progress"/>
   </extension>
      <extension point="org.eclipse.ui.commands">
      <command id="org.eclipse.iee.pad.table.addCommand" name="Add table"/>
   </extension>
   <extension point="org.eclipse.ui.handlers">
      <handler
            class="org.eclipse.iee.editor.core.pad.common.ui.handler.AddCollapseBeginHandler"
            commandId="org.eclipse.iee.pad.collapaseBegin.addCommand">
      </handler>
   </extension>
   <extension point="org.eclipse.ui.handlers">
      <handler
            class="org.eclipse.iee.editor.core.pad.common.ui.handler.AddCollapseEndHandler"
            commandId="org.eclipse.iee.pad.collapaseEnd.addCommand">
      </handler>
   </extension>
   <extension point="org.eclipse.ui.handlers">
      <handler
            class="org.eclipse.iee.editor.core.pad.common.ui.handler.AddProgressHandler"
            commandId="org.eclipse.iee.pad.progress.addCommand">
      </handler>
   </extension>
      <extension point="org.eclipse.ui.handlers">
      <handler
            class="org.eclipse.iee.editor.core.pad.table.ui.handler.AddTableHandler"
            commandId="org.eclipse.iee.pad.table.addCommand">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.commandImages">
      <image
            commandId="org.eclipse.iee.pad.collapaseBegin.addCommand"
            icon="icons/visibility-off.png">
      </image>
   </extension>
   <extension
         point="org.eclipse.ui.commandImages">
      <image
            commandId="org.eclipse.iee.pad.collapaseEnd.addCommand"
            icon="icons/visibility-on.png">
      </image>
   </extension>
   <extension
         point="org.eclipse.ui.commandImages">
      <image
            commandId="org.eclipse.iee.pad.progress.addCommand"
            icon="icons/progress.png">
      </image>
   </extension>
      <extension
         point="org.eclipse.ui.commandImages">
      <image
            commandId="org.eclipse.iee.pad.table.addCommand"
            icon="icons/table.png">
      </image>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="toolbar:org.eclipse.iee.editor.addToolbar">
         <command
               commandId="org.eclipse.iee.pad.collapaseBegin.addCommand"
               style="push">
            <visibleWhen
                  checkEnabled="true">
            </visibleWhen>
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="toolbar:org.eclipse.iee.editor.addToolbar">
         <command
               commandId="org.eclipse.iee.pad.collapaseEnd.addCommand"
               style="push">
            <visibleWhen
                  checkEnabled="true">
            </visibleWhen>
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="toolbar:org.eclipse.iee.editor.addToolbar">
         <command
               commandId="org.eclipse.iee.pad.progress.addCommand"
               style="push">
            <visibleWhen
                  checkEnabled="true">
            </visibleWhen>
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="toolbar:org.eclipse.iee.editor.addToolbar">
         <command
               commandId="org.eclipse.iee.pad.table.addCommand"
               style="push">
            <visibleWhen
                  checkEnabled="true">
            </visibleWhen>
         </command>
      </menuContribution>
   </extension>

</plugin>
