<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<plugin>

  <extension point="org.eclipse.emf.ecore.generated_package">
    <package 
       uri = "http://www.eclipse.org/iee/translator/molex/mex/Mex" 
       class = "org.eclipse.iee.translator.molex.mex.mex.MexPackage"
       genModel = "org/eclipse/iee/translator/molex/mex/Mex.genmodel" /> 
	
  </extension>





</plugin>
